@charset "UTF-8";

/* ///////////////////////////////////////////////////////////// */
/* 투명하게 하기 위한 속성 */
.transparent {
	clear: none;
	border: 0px none;
	float: none;
	background-color: transparent;
}

.currentQty {
	width: 50px;
	text-align: center;
}

.f-nav {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 102px;
	width: 100%;
}

.listImage ul, .listImage li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.optionChoice ul,.optionChoice li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.listImage_wrap>button {
	overflow: visible;
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
}
/* 제품 사진,옵션 설정창 감싸는거 */
#productWrap {
	border: 1px solid snow;
	margin-top: 100px;
	margin-bottom: 100px;
}

#productImage { /* 사진창 */
	padding: 30px
}

#productOption { /* 옵션 창 */
	padding: 30px;
	background-color: #fafafa;
}

.price {
	display: inline-block;
	font-size: 20px;
	letter-spacing: 0.1px;
	color: #000000;
	margin-bottom: 10px;
}

.buyRightNow {
	width: 100%;
	height: 80px;
	background-color: #000;
	text-align: center;
	float: left;
	line-height: 75px;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	border-radius: 30px;
	cursor: pointer
}

.cartAndInterest {
	width: 49%;
	height: 80px;
	border: 1px solid #909090;
	border-radius: 30px;
	background-color: transparent;
	text-align: center;
	float: left;
	line-height: 75px;
	color: #161616;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	margin-top: 10px;
}

.spanWidth150 {
	display: inline-flex;
	width: 150px;
}

.spanWidthHalf {
	display: inline-flex;
	max-width: 49%;
}

/* 이미지 썸네일 */
.image_li {
	float: left;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	vertical-align: top;
	margin-top: 5px;
}

.listImage_wrap {
	width: 100%;
	position: relative;
	text-align: center;
	margin: 0 auto;
	border-top:10px solid gray;
}

.listImage {
	position: relative;
	height: 116px;
	overflow: hidden;
	left: 30px;
	margin-top:40px;
}

.bigImage {
	max-width: 500px;
	height: 400px;
	overflow: hidden;
	cursor: pointer;
	
}

.thumbImage {
	width: 110px;
	height: 116px;
	cursor: pointer;
}

.optionvaluedisabled{
	display: none;
}

/* 이전,다음버튼들 */
.prevBtn {
	position: absolute;
	top: 40%;
	left: 0;
	background-position: 0 0;
	margin-top: -2%;
	outline: none;
	width: 30px;
	height: 30px;
	font-size: 0;
	line-height: 0;
	color: transparent;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.prevBtn:before {
	content: "<";
	font-size: xx-large;
	color: #fff;
}

.nextBtn {
	position: absolute;
	top: 40%;
	right: 0;
	background-position: -31px 0;
	margin-top: -2%;
	outline: none;
	width: 30px;
	height: 30px;
	font-size: 0;
	line-height: 0;
	color: transparent;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	cursor:pointer;
}
.nextBtn:before {
	content: ">";
	font-size: xx-large;
	color: #fff;
}
/* 이전, 다음버튼들 */

/* 주문 수량 */
.orderDetail_wrap {
	padding: 10px;
	background-color: rgb(249, 250, 252);
	text-align: left;
	margin-top: 5px;
}

.quantity_span {
	line-height: 40px;
	padding: 0 15px;
	font-weight: bold;
}

.quantity_wrap {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.quantity_msg {
	display: none;
	color: red;
	font-weight: bold
}

/* 탭메뉴 css */
.tab_menu_container button {
	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.tab_menu_container {
	display: flex;
	background-color: #f3f5f7;
}

.tab_menu_btn {
	width: 25%;
	height: 50px;
	transition: 0.3s all;
	text-align: center;
	line-height: 3;
	color: #000;
}

.tab_menu_btn:hover {
	color: #000;
}

.tab_menu_btn.on {
	border-bottom: 2px solid #333;
	font-weight: 700;
	color: #fff;
	background-color: #3d3d4f;
	text-align: center;
	line-height: 3;
}

.tab_menu_container a:link, a:visited, a:hover {
	text-decoration: none;
}

.tab_box {
	display: none;
	padding: 20px;
}

.tab_box.on {
	display: block;
}

.btn {
	position: relative;
	width: 46px;
	height: 40px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	box-sizing: border-box;
	background-color: transparent;
	margin-left: -1px;
	font-size: 20px;
	border-radius: 2px;
	border: 0;
	outline: 0;
}

.btn:focus {
	outline: none;
	box-shadow: none
}

.icon-minus:before {
	content: "-";
	font-size: xxx-large;
	line-height: 30px;
}

.icon-plus:before {
	content: "+";
	font-size: 35px;
	line-height: 30px;
}
#finalOpt{
	display:none
}