@charset "UTF-8";
.wrap{margin-top:150px;}
.container{
	margin-top:32px; 
	width:40%;
}
.content{border-top:2px solid #444;}
form{margin-top:15px;}
strong{color:#666;}
label{	
	width:100%;
	background-color:#F6F6F6;  
}
.lbl_userid, .lbl_email, .lbl_tel, .lbl_addr{width:100%;}
#userid, #useremail, #email_cod, #tel{border-radius:5px;}
#warning, #caution{
	font-weight:bold;
	display:none;
}
small{
	position:absolute; 
	right:0;
}
.row{margin:0 auto;}
.gender{margin-top: 15px;}
.btn-group-toggle{
	width:100%;
}
.btn-group-toggle label{border:1px solid #ced4da;}
span button{
	margin-top:38px;
	width:100px;
	height:50px;
	position:relative;
	left:260px;
}
.btnModify, .btnCancel{
	font-size:1em;
	font-weight:bold; 
}
