@charset "UTF-8";
.container{
	padding : 0;
	min-width : 1250px;
}

.container a{
	text-decoration : none;
}

/* 적립금(맨위) */
#mypage_save_main{
	height : 60px;
	border : 5px solid #555;
}

.mypage_main_div{
	width : 100%;
	float : left;
}

.mypage_main_div_div{
	width : 500px;
	height : 50px;
	line-height : 50px;
	margin : 0 auto;
	padding-right : 30px;
}

.mypage_main_div_div>span:nth-of-type(3){
	margin-right : 20px;
}

.mypage_main_div_div>div{
	float : right;
	height : 50px;
	line-height : 50px;
}

.mypage_main_div>div:nth-of-type(2), .mypage_main_div>div:nth-of-type(2)>div{
	line-height : 20px;
}

.mypage_font{
	font-size : 13px;
}

.mypage_btn{
	border : none;
	background : black;
	color : white;
	height : 20px;
	line-height : 20px;
	border-radius : 3px;
	margin-left : 20px;
}

/* 나의 주문처리 현황 */
#mypage_order_main{
	margin-top : 20px;
	height : 150px;
	border : 1px solid #555;
}

#mypage_order_span{
	background : #555;
	height : 35px;
	line-height : 35px;
	padding-left : 20px;
}

#mypage_order_div>div{
	width : 20%;
	height : 115px;
	line-height : 115px;
	float : left;
}

.mypage_center{
	text-align : center;
}

.mypage_center>div:nth-of-type(1){
	width : 240px;
	height : 60px;
	line-height : 60px;
	float : left;
}

.mypage_center>div:nth-of-type(2){
	width : 240px;
	height : 20px;
	line-height : 20px;
	float : left;
	font-size : 30px;
	color : red;
}

#mypage_order_ul{
	height : 115px;
	line-height : 115px;
	margin : 0 auto;
	padding : 0;
	padding : 25px 0 0 80px;
	font-size : 13px;
}

#mypage_order_ul>li{
	height : 30px;
	line-height : 30px;
}

#mypage_order_ul>li>span:nth-of-type(2){
	color : red;
}

#mypage_order_div a:link, #mypage_order_div a:visited{
	color : red;
}

#mypage_order_div a:hover{
	color : #555;
}

/* 아래 mypage 메뉴들 */
#mypage_menu{
	margin-top : 20px;
}

.mypage_menu_div{
	width : 300px;
	height : 200px;
	border : 1px solid #555;
	padding : 25px;
	margin : 0 0 10px 10px;
	float : left;
}

.mypage_menu_div>span:nth-of-type(1){
	font-size : 20px;
	margin-right : 10px;
	font-family : "Noto Sans CJK KR";
	font-weight : 600;
}

.mypage_menu_div>span:nth-of-type(2){
	color : #8D8D8D;
}

.mypage_menu_div hr{
	margin : 10px 0;
}

.mypage_menu_div:hover{
	background : #F3F3F3;
	cursor : pointer;
}



















































