<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bitcamp.board.ReviewDAO">
	<!-- 전체 리스트(검색, 페이징) -->
	<select id = "allList" resultType="kr.co.bitcamp.board.ReviewVO">
		select * from (
			select * from (
				select review_no, b.userno userno , b.c_no, b.p_no, review_subject, review_content, review_hit, review_recommend, 
				to_char(review_writedate, 'YYYY-MM-DD') review_writedate, review_ip, review_file1, review_file2, review_file3, review_file4, 
				review_file5, userid, review_rating, p_name, p_filename1 
				from board_review b, member m, product p 
				where b.userno = m.userno and b.p_no = p.p_no 
				<if test = "searchKey != null and searchWord != null">
					and ${searchKey} like '%'||#{searchWord}||'%' 
				</if>
				order by review_no desc) 
			where rownum <![CDATA[<=]]> #{pageNum} * #{onePageRecord} 
			order by review_no asc) 
		where rownum <![CDATA[<=]]> <if test = "pageNum == totalPage">#{lastPageRecord}</if><if test = "pageNum != totalPage">#{onePageRecord}</if> 
		order by review_no desc
	</select>
	<!-- 전체 페이지 구하기(검색) -->
	<select id = "getTotalRecord" resultType = "int">
		select count(review_no) from board_review
		<if test = "searchKey != null and searchWord != null">
				where ${searchKey} like '%'||#{searchWord}||'%'
		</if>
	</select>
	<!-- 글 쓰기 폼 카테고리 -->
	<select id = "reviewCate" resultType = "kr.co.bitcamp.board.GoodsVO">
		select c_no, c_name from category
	</select>
	<!-- 글 쓰기 폼 상품 가져오기 -->
	<select id = "reviewGoods" resultType = "kr.co.bitcamp.board.GoodsVO">
		select p_no, p_name from product where c_no = #{param1}
	</select>
	<!-- 글 쓰기 -->
	<insert id = "reviewInsert">
		insert into board_review(review_no, userno, c_no, p_no, review_subject, review_content, review_hit, review_recommend, review_rating, 
		review_writedate, review_ip, review_file1, review_file2, review_file3, review_file4, review_file5) 
		values(review_sq.nextval, #{userno}, #{c_no}, #{p_no}, #{review_subject}, #{review_content}, 0, 0, #{review_rating}, sysdate, 
		#{review_ip}, #{review_file1}, #{review_file2}, #{review_file3}, #{review_file4}, #{review_file5})
	</insert>
	<!-- 한개 리스트 -->
	<select id = "list" resultType = "kr.co.bitcamp.board.ReviewVO">
		select review_no, p_filename1, p_name, price, review_subject, userid, review_rating, to_char(review_writedate, 'YYYY-MM-DD') review_writedate, 
		review_recommend, review_hit, review_file1, review_file2, review_file3, review_file4, review_file5, review_content 
		from board_review b, product p, member m where b.p_no = p.p_no and b.userno = m.userno and b.review_no = #{param1}
	</select>
</mapper>