@charset "UTF-8";
#notice_writeFormBody{
	width : 1400px;
	margin-left : 250px;
}

#notice_writeFormBody a:hover, #notice_writeFormBody a:link, #notice_writeFormBody a:visited{
	text-decoration : none;
	color : black;
}

#notice_writeFormBody a:hover{
	color : gray;
}

#notice_writeFormBody ul, #notice_writeFormBody li{
	margin : 0;
	padding : 0;
	list-style : none;
	float : left;
}

/* 맨 위 오른쪽(홈>~~) */
#nLink{
	width : 1400px;
	height : 70px;
	line-height : 70px;
	text-align : right;
	font-size : 13px;
	margin-top : 100px;
}

#nLink span{
	font-weight : bold;
	font-size : 1.1em;
}

/* title */
#nTitle{
	width : 1400px;
	height : 60px;
	line-height : 60px;
}

#nTitle>span:nth-of-type(2){
	font-size : 13px;
	color : #757575;
}

#nTitle>span:nth-of-type(1){
	font-size : 2em;
	font-weight : bold;
}

/* 카테고리 */
#boardCate{
	 width : 1400px;
	 height : 72px;
	 background : black;
}

#boardCate li{
	 width : 33.3333333333333333333%;
	 height : 70px;
	 line-height : 70px;
	 text-align : center;
	 text-vertical : middle;
	 color : white;
	 font-size : 1.3em;
	 font-weight : bold;
	 cursor : pointer;
}

#boardCate li:nth-of-type(2){
	 border-left : 1px solid white;
	 border-right : 1px solid white;
}

/* 글 폼 */
#writeForm *{
	font-size : 13px;
}

#writeForm{
	width : 1400px;
	height : 300px;
	border : 1px solid black;
}

#writeForm>li:nth-of-type(1){
	width : 10%;
	height : 40px;
	background : black;
	color : white;
	padding : 10px;
}

#writeForm>li:nth-of-type(2){
	width : 90%;
	height : 40px;
	padding : 8px 0 0 10px;
	border-bottom : 1px solid black;
}

#subject{
	width : 500px;
}

#content{
	width : 1398px;
	height : 258px;
	resize : none;
}

/* 목록, 등록, 취소 버튼 */
#goBtn{
	width : 1400px;
	height : 90px;
	line-height : 90px;
	float : left;
}

#goBtn input{
	border : none;
	width : 200px;
	height : 50px;
	line-height : 50px;
	background : black;
	color : white;
}

#regiDiv{
	float : right;
	width : 405px;
}

#regiDiv input:nth-of-type(1){
	background : white;
	color : black;
	border : 1px solid black;
}























































