@charset "UTF-8";
.container{width:1400px;}
#reviewBody{
	margin-left : 250px;
}

#reviewBody a:hover, #reviewBody a:link, #reviewBody a:visited{
	text-decoration : none;
	color : #555;
}

#reviewBody a:hover{
	color : gray;
}

#reviewBody ul, #reviewBody li{
	margin : 0;
	padding : 0;
	list-style : none;
}
#reviewBody li{
	float : left;
}

/* 맨 위 오른쪽 */
#nLink{
	width : 1400px;
	height : 70px;
	line-height : 70px;
	text-align : right;
	font-size : 13px;
	margin-top : 100px;
}

#nLink span{
	font-weight : bold;
	font-size : 1.1em;
}

/* title */
#nTitle{
	width : 1400px;
	height : 60px;
	line-height : 60px;
}

#nTitle>span:nth-of-type(2){
	font-size : 13px;
	color : #555;
}

#nTitle>span:nth-of-type(1){
	font-size : 2em;
	font-weight : bold;
}

/* 카테고리 */
#boardCate{
	 width : 1400px;
	 height : 72px;
	 background : #555;
}

#boardCate li{
	 width : 33.3333333333333333333%;
	 height : 70px;
	 line-height : 70px;
	 text-align : center;
	 text-vertical : middle;
	 color : white;
	 font-size : 1.3em;
	 font-weight : bold;
	 cursor : pointer;
}

#boardCate li:nth-of-type(2){
	 border-left : 1px solid white;
	 border-right : 1px solid white;
}

/* 리스트 */
#list{
	width : 1400px;
	/*margin-top : 20px;*/
}

#list *{
	font-size : 13px;
}

#list li{
	border-left : 1px solid #555;
	border-bottom : 1px solid #555;
	height : 70px;
	line-height : 70px;
}

#list li:nth-of-type(1), #list li:nth-of-type(2), #list li:nth-of-type(3), #list li:nth-of-type(4), #list li:nth-of-type(5), #list li:nth-of-type(6), #list li:nth-of-type(7), #list li:nth-of-type(8){
	background : #555;
	color : white;
	height : 40px;
	line-height : 40px;
}

#list li:nth-of-type(2), #list li:nth-of-type(3), #list li:nth-of-type(4), #list li:nth-of-type(5), #list li:nth-of-type(6), #list li:nth-of-type(7), #list li:nth-of-type(8){
	border-left : 1px solid white;
}

#list li:nth-of-type(8n + 1){
	width : 5%;
	text-align : center;
}

#list li:nth-of-type(8n + 2){
	width : 13%;
	text-align : left;
	padding : 10px;
}

#list li:nth-of-type(2){
	width : 13%;
	text-align : center;
	padding : 0;
}

#list li:nth-of-type(3){
	width : 50%;
	text-align : center;
}

#list li:nth-of-type(8n + 3){
	width : 50%;
	padding-left : 10px;
}

#list li:nth-of-type(8n + 4){
	width : 8%;
	text-align : center;
}

#list li:nth-of-type(8n + 5){
	width : 8%;
	text-align : center;
}

#list li:nth-of-type(8n + 6){
	width : 4%;
	text-align : center;
}

#list li:nth-of-type(8n + 7){
	width : 4%;
	text-align : center;
}

#list li:nth-of-type(8n){
	width : 8%;
	text-align : center;
	border-right : 1px solid #555;
}

#list li:nth-of-type(8n + 2)>img{
	width : 50px;
	height : 50px;
	line-height : 50px;
	margin-right : 5px;
	float : left;
}

#list li:nth-of-type(8n + 2)>span{
	display : inline-block;
	float : left;
	width : 100px;
	height : 50px;
	line-height : 50px;
	overflow : hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.wordCut{
	white-space : nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}

.pointer{
	cursor : pointer;
}

.pointer:hover{
	color : #D8D8D8;
}

/* 평점 */
#star{
	padding : 0 0 0 20px;
}

.star-box{
	height : 72px;
	line-height : 72px;
}

.star{
	display:inline-block;
	width: 20px;
	height: 20px;
}

.star_left{
	background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat 0 0;
	background-size: 20px;
	margin-right: -3px;
}

.star_right{
	background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat -20px 0;
	background-size: 20px;
	margin-left: -25px;
}

.star.on{
	background-image: url(http://gahyun.wooga.kr/main/img/testImg/star_on.png);
}

/* 검색 */
#wsDiv{
	width : 1400px;
	height : 60px;
	line-height : 60px;
	float : left;
}

#search{
	height : 60px;
	line-height : 60px;
	float : right;
}

#search *{
	height : 30px;
	line-height : 30px;
	font-size : 13px;
}

#searchBtn{
	width : 60px;
	margin : 0;
	padding : 0;
	color : white;
	background : #555;
	border : none;
	border-radius : 1px;
}

#searchList{
	width : 100px;
}

#searchText{
	width : 250px;
}

/* 글 쓰기 */
#write{
	height : 60px;
	line-height : 60px;
	font-size : 13px;
}

#writingBtn{
	width : 80px;
	height : 30px;
	line-height : 30px;
	margin : 0;
	padding : 0;
	color : white;
	background : #555;
	border : none;
	border-radius : 1px;
}

/* 페이징 */
.black, .black:hover, .black:link, .black:visited{
	background : #555;
}

.pages:hover{
	background : #555;
	color : black;
}

.fontColor, .fontColor:hover, .fontColor:visited, .fontColor:link{
	background : #555;
	color : white;
}


























































